alias homegit="GIT_DIR=~/.homegit/.git GIT_WORK_TREE=~ git"

alias vimrc="vim ~/.vimrc"
alias myip="ip -4 -o a | awk '{ print \$4 }' | grep -v '^127\|^172' | rev | cut -c 4- | rev"
alias mypath='echo "${PATH//:/\n}"'

alias webserver='ruby -run -ehttpd . -p8000'

alias o=xdg-open

alias cat=ccat # colorize zsh plugin
alias less='f() { ccat $1 | less };f'
