[core]
  pager = less

[alias]
  co = checkout
  st = status --short
  ci = commit
  cp = cherry-pick
  br = branch
  lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  ls = !git --no-pager log --oneline master..HEAD
  news = shortlog -n --after='2 weeks ago'

[push]
  default = current

[credential]
  helper = cache --timeout=300

[color]
  ui = auto

[user]
  name = Thomas Hutterer
  email = thutterer@suse.de
